<a href="https://colab.research.google.com/github/Kiel-Shui/OOP-58003/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
a=10
print(10>9)
print(10<9)
print(10==9)
print(a>9)

True
False
False
True

Bool() Function

In [2]:
print(bool(1))
print(bool("Maria"))
print(bool('Ana'))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

Functions can Return a Boolean

In [16]:
def myFunction():
  return False

print(myFunction())

False

In [15]:
if myFunction():
    
    print("False")
else:
    print("True")

True

Application 1

In [17]:
a=6
b=7
print(a==b)
print(a!=a)

False
False

Python Operators

In [20]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(int(10/5))
print(10/3)
print(10//3)
print(10**5)
print(float(10**5))

15
5
50
2.0
0
2
3.3333333333333335
3
100000
100000.0

Bitwise Operators

In [23]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

12
61
49
120
30

Application 2

In [39]:
x=5
y=5
z=5
a=5
b=5
x += 3
y -= 3
z *= 3
a /= 3
b %= 3
print(x)
print(y)
print(z)
print(a)
print(b)

8
2
15
1.6666666666666667
2

Logical Operators

In [40]:
s=True
t=False
not(s and t)

True

Identity Operators

In [41]:
s is t
s is not t

True

#Control Structure

If Statement

In [45]:
g=100
h=50
if g>h:
  print("g is greater than h")

g is greater than h

Elif Statement

In [48]:
a=30
b=50
if a>b:
  print("a is greater than b")
elif a<b:
  print("a is less than b")

a is less than b

Else Statement

In [49]:
x=20
y=20
if x>y:
  print("x is greater than y")
elif x<y:
  print("x is less than y")
else:
  print("x is equal to y")

x is equal to y

Short Hand If.. Else Statement

In [50]:
print("G") if g>h else print("H")

G

Nested If.. Else

In [52]:
x=41

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 10")

x is above 10
and also above 20
and also above 30
and also above 40
but not above 10

Application 3 - Write a program that determines if the input age is qualified to vote or not. The qualifying age is 18 years old and above.

In [58]:
age=int(input("Your age: "))

if age>17:
  print("You are qualified to vote!")
else:
  print("You're not allowed to vote!")

Your age: 18
You are qualified to vote!

#Loop Statement

For Loop

In [59]:
week=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday',]
season=['rainy','sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

Break Statement

In [65]:
for x in week:
  if x=="Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [66]:
#To stop at Friday

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

Application 4 - To display only "Friday"

In [67]:
for x in week:
  if x=="Friday":
    print(x)
    break

Friday

While Loop

In [68]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 5 - To display only no.2 using break statement

In [71]:
i=1
while i<6:
  if i==2:
    print(i)
    break
  i+=1

2